@mixin showHide($base) {
  .d-#{$base}-none {
    display: none !important;
  }

  .d-#{$base}-block {
    display: block !important;
  }

  .d-#{$base}-flex {
    display: flex !important;
  }
}

.hidden {
  display: none;
}

/*xxxl*/
@media screen and (min-width: 1600px) {
  @include showHide(xxxl);
}

/*xxl*/
@media screen and (max-width: 1600px) {
  @include showHide(xxl);
}


/*xl*/
@media screen and (max-width: 1200px) {
  @include showHide(xl);
}

/*lg*/
@media screen and (max-width: 992px) {
  @include showHide(lg);

  .container {
    width: calc(100% - 80px);
  }

  .page-header {
    height: 96px;

    &--manual {
      height: 91px;

      .quiz-page-header {
        h1 {
          top: 9px;
          left: 25px;
        }
      }
    }

    &--under {
      height: 95px;
    }
  }

  .header {
    height: 73px;

    .logo {
      width: 32%;
      height: 100%;
      justify-content: flex-start;
      justify-items: center;
      padding-left: 18px;

      img {
        margin: 0 18px;
      }

    }

    &__main {
      height: 73px;
      justify-content: space-between;
      align-items: center;
      border-right: none;
    }
  }

  .bg-diag-line {
    background: none;
  }

  .empty {
    &--first {
      width: 32%;
    }

    &--second {
      width: 35%;
      flex: 1;
    }

    &--third {
      width: 149px;
    }

    &--fourth {
      width: 78px;
    }

    &--circle-top {
      svg {
        display: none;
      }
    }
  }

  .main-page-header {
    flex-wrap: wrap;
    /* margin: -74px 0 191px 0; */
    padding: 18px 0 0;
    height: auto;
    margin-bottom: -6px;

    &__logo {
      padding-left: 19px;

      img {
        width: 120px;
        height: 50px;
      }
    }

    &__text {
      width: 100%;
      margin-top: 23px;
      font-weight: 300;
      font-size: 16px;
      line-height: 29px;
      color: rgba(0, 0, 0, 0.85);
      border: 1px solid #DCE8FF;
      padding: 17px 69px 22px 19px;
      height: auto;
    }
  }

  .constructor-card {
    padding: 28px 25px 28px 28px;
    width: 51.5%;

    &__name {
      font-size: 24px;
      line-height: 28px;
    }

    &__desc {
      font-size: 16px;
      line-height: 29px;
      margin-bottom: 63px;
    }

    &--first {
      padding: 28px 25px 28px 18px;
      width: 48.5%;

      .constructor-card {
        &__name {
          margin-top: -4px;
        }
      }
    }
  }

  .footer-wrap {
    height: auto;

    .footer {
      flex-wrap: wrap;
      height: auto;

      &__col {
        &--first {
          width: 45.5%;
          padding-left: 0;
        }

        &--second {
          width: 54.5%;
        }

        &--third {
          margin-top: 29px;
        }

        &--left {
          justify-content: flex-start;

          .logo {
            &--footer {
              width: 66px;
              margin: 1px 0 7px 0;
            }
          }
        }
      }

      &__main {
        width: 100%;
        margin-bottom: 28px;
      }

      &__contacts {
        width: 100%;
        justify-content: flex-start;
        height: 92px;
      }

      &__phone {
        text-align: left;
      }

      &__callback {
        text-align: left;
        margin-top: 4px;
        height: 23px;
      }
    }
  }

  .quiz-page-header {
    top: 0;
    left: 0;
    height: 92px;
    width: 100%;

    h1 {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      top: 14px;
      left: 23px;

      color: rgba(0, 0, 0, 0.4);
    }

    .quiz-question {
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      top: 45px;
      left: 23px;
      color: rgba(0, 0, 0, 0.85);
    }
  }
  .quiz-page-status {
    right: 23px;
    bottom: 18px;
  }

  .quest-options {
    width: 100%;
    height: 117px;
    border-top: none;
    justify-content: space-between;

    &::before {
      display: none;
    }
  }

  .quiz {
    border-top: none;
  }

  .quest {
    flex-wrap: wrap;

    &__first {
      width: 100%;
      border-right: none;
    }

    &__second {
      width: 100%;
      padding: 17px 67px 132px 18px;
    }
  }

  .quest-checkbox {
    padding: 0 22px;
    margin-top: -5px;
  }

  .categories-block {
    width: 42.3%;

    .categories {
      margin: 38px 0 38px 47px;

      &-item {
        &__icon {
          margin-right: 65px;
        }
      }
    }
  }

  .char-form {
    width: 57.7%;
    padding-bottom: 2px;
    border-right: none;
  }

  .char-form-lines {
    padding: 35px 0 0 60px;
  }

  .manual {

    .card-info-details {
      padding: 23px 16px 0 19px;
    }

    .card-info-details-submitter {
      margin: -8px 19px;
    }

    .spec {
      margin-top: -3px;
      padding-bottom: 47px;
      width: 100%;
      border-top: $border-blue;

       &__btn {
         width: 337px;
         margin-right: 37px;
         position: relative;

         button {
           .anticon {
             margin-left: 36px;
           }
         }
       }
    }
  }
}


/*md*/
@media screen and (max-width: 767px) {
  @include showHide(md);

  .container {
    width: calc(100% - 20px);
    margin: 0 0 0  -1px;
  }

  .contacts-wrap {
    display: none !important;
  }

  .empty {
    &--first {
      width: 109px;
    }

    &--second {
      width: 35%;
      flex: 1;
    }

    &--third {
      width: 149px;
      display: none;
    }

    &--fourth {
      width: 90px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 20px;
        border-bottom: 1px solid #DCE8FF;
        bottom: 0;
        right: -20px;
      }
    }

    &--circle-top {
      svg {
        display: none;
      }
    }
  }

  .main-page-header {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: 5px;
      right: -20px;

    }

    &__text {
      padding: 17px 0 26px 13px;
    }
  }

  .constructor-cards {
    flex-wrap: wrap;
  }

  .constructor-card {
    width: 100%;
    padding: 78px 0 24px 19px;

    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: 0;
      right: -20px;
    }

    &--first {
      border-right: none;
      border-bottom: $border-blue;
      padding: 49px 0 28px 19px;
    }

    &__desc {
      margin-bottom: 85px;
    }

    &__btn {
      width: 334px;
    }
  }

  .header {
    height: 71px;

    .logo {
      width: 109px;

      img {
      }

    }

    &__main {
      height: 71px;

      .header-right {
        width: 90px;
        border-left: $border;
      }
    }
  }

  .page-header {
    &--manual {
      height: 91px;
    }

    &--quiz {
      height: 111px;

      .empty {

        &--fourth {

          &::after {
            bottom: -1px;
          }
        }
      }
    }

    &--under {
      height: 59px;
    }
  }

  .footer-wrap {
    padding: 47px 0 70px;

    .footer {
      padding-left: 20px;

      .logo {
        justify-content: flex-start;

        &--footer {
          width: 66px;
          margin: 0 0 6px 0;
        }
      }

      &__phone {
        text-align: left;
        margin: 6px 0 11px;
      }

      &__callback {
        margin-top: 10px;
      }

      &__col {
        width: 100%;

        &--first {
          width: 100%;
          margin-bottom: 39px;
        }
      }

      &__main {
        flex-wrap: wrap;
        margin-bottom: -22px;
      }

      &__contacts {
        flex-wrap: wrap;
        height: auto;
      }
    }
  }

  .quiz-page-header {
    height: 111px;

    h1 {
      top: 17px;
      left: 19px;
    }

    .quiz-question {
      top: 43px;
      left: 19px;
    }
  }

  .quiz-page-status {
    left: 19px;
    bottom: 8px;
  }

  .quest {
    &__second {
      padding: 17px 0 87px 13px;
    }
  }

  .quest-options {
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: -1px;
      right: -20px;

    }
  }

  .quest-buttons {
    position: relative !important;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: -1px;
      right: -20px;
    }
  }

  .accordion-variants {
    border-bottom: $border-blue;
    border-top: $border-blue;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: -1px;
      right: -20px;
    }

    .char-form-lines {
      padding: 26px 0 31px 21px;
      margin-left: 18px;
      border-left: $border-blue;

      &__item {

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .spec {
    padding-bottom: 0;

    .card-info-details {
      padding: 34px 0 0 14px;

      &-line {

        &__controls {
          margin-right: 0;

          .remove-button {
            margin-left: 0;
            margin-right: 17px;

            button {
              span {
                svg {
                  width: 13px;
                  height: 13px;
                  margin: 0 0px 1px 14px;
                }
              }
            }

          }
        }
      }
    }

    .card-info-details-submitter {
      margin: 32px 0;
      justify-content: flex-end;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-end;

      &__label {
        align-self: flex-start;
        margin: 19px 13px;
      }
    }

    &__btn {
      width: 341px!important;
      margin-right: 0!important;

    }
  }

  .char-form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 42px;
    padding-bottom: 2px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: 2px;
      right: -20px;
    }

    &__btn {
      width: 341px;
      position: relative;
      margin-right: 0;
    }
  }

  .categories-block {
    width: 100%;
    border-right: none;

    .categories {
      margin: 0;
      //margin: 27px 0 38px 19px;

      &-item {
        padding-top: 31px;
        justify-content: flex-start;
        align-items: center;
        padding-left: 19px;

        &--selected {
          height: 76px;
          padding-top: 0;

          &::before {
            left: -1px;
            top: 24px;
          }

          &::after {
            position: absolute;
            content: "";
            width: 20px;
            border-bottom: 1px solid #DCE8FF;
            bottom: -1px;
            right: -20px;
          }
        }
      }
    }
  }
}


/*md*/
@media screen and (max-width: 767px) {
  @include showHide(md);

  .container {
    width: calc(100% - 20px);
    margin: 0 0 0  -1px;
  }

  .contacts-wrap {
    display: none !important;
  }

  .empty {
    &--first {
      width: 109px;
    }

    &--second {
      width: 35%;
      flex: 1;
    }

    &--third {
      width: 149px;
      display: none;
    }

    &--fourth {
      width: 90px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 20px;
        border-bottom: 1px solid #DCE8FF;
        bottom: 0;
        right: -20px;
      }
    }

    &--circle-top {
      svg {
        display: none;
      }
    }
  }

  .main-page-header {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: 5px;
      right: -20px;

    }

    &__text {
      padding: 17px 0 26px 13px;
    }
  }

  .constructor-cards {
    flex-wrap: wrap;
  }

  .constructor-card {
    width: 100%;
    padding: 78px 0 24px 19px;

    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: 0;
      right: -20px;
    }

    &--first {
      border-right: none;
      border-bottom: $border-blue;
      padding: 49px 0 28px 19px;
    }

    &__desc {
      margin-bottom: 85px;
    }

    &__btn {
      width: 334px;
    }
  }

  .header {
    height: 71px;

    .logo {
      width: 109px;

      img {
      }

    }

    &__main {
      height: 71px;

      .header-right {
        width: 90px;
        border-left: $border;
      }
    }
  }

  .page-header {
    &--manual {
      height: 91px;
    }

    &--quiz {
      height: 111px;

      .empty {

        &--fourth {

          &::after {
            bottom: -1px;
          }
        }
      }
    }

    &--under {
      height: 59px;
    }
  }

  .footer-wrap {
    padding: 47px 0 70px;

    .footer {
      padding-left: 20px;

      .logo {
        justify-content: flex-start;

        &--footer {
          width: 66px;
          margin: 0 0 6px 0;
        }
      }

      &__phone {
        text-align: left;
        margin: 6px 0 11px;
      }

      &__callback {
        margin-top: 10px;
      }

      &__col {
        width: 100%;

        &--first {
          width: 100%;
          margin-bottom: 39px;
        }
      }

      &__main {
        flex-wrap: wrap;
        margin-bottom: -22px;
      }

      &__contacts {
        flex-wrap: wrap;
        height: auto;
      }
    }
  }

  .quiz-page-header {
    height: 111px;

    h1 {
      top: 17px;
      left: 19px;
    }

    .quiz-question {
      top: 43px;
      left: 19px;
    }
  }

  .quiz-page-status {
    left: 19px;
    bottom: 8px;
  }

  .quest {
    &__second {
      padding: 17px 0 87px 13px;
    }
  }

  .quest-options {
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: -1px;
      right: -20px;

    }
  }

  .quest-buttons {
    position: relative !important;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: -1px;
      right: -20px;
    }
  }

  .accordion-variants {
    border-bottom: $border-blue;
    border-top: $border-blue;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: -1px;
      right: -20px;
    }

    .char-form-lines {
      padding: 26px 0 31px 21px;
      margin-left: 18px;
      border-left: $border-blue;

      &__item {

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .spec {
    padding-bottom: 0!important;

    .card-info-details {
      padding: 34px 0 0 14px;

      &-line {

        &__controls {
          margin-right: 0;

          .remove-button {
            margin-left: 0;
            margin-right: 17px;

            button {
              span {
                svg {
                  width: 13px;
                  height: 13px;
                  margin: 0 0px 1px 14px;
                }
              }
            }

          }
        }
      }
    }

    .card-info-details-submitter {
      margin: 32px 0 -3px 0;
      justify-content: flex-end;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-end;

      &__label {
        align-self: flex-start;
        margin: 19px 13px;
      }
    }

    &__btn {
      width: 341px!important;
      margin-right: 0!important;

    }
  }

  .char-form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 42px;
    padding-bottom: 2px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      border-bottom: 1px solid #DCE8FF;
      bottom: 2px;
      right: -20px;
    }

    &__btn {
      width: 341px;
      position: relative;
      margin-right: 0;
    }
  }

  .categories-block {
    width: 100%;
    border-right: none;

    .categories {
      margin: 0;
      //margin: 27px 0 38px 19px;

      &-item {
        padding-top: 31px;
        justify-content: flex-start;
        align-items: center;
        padding-left: 19px;

        &--selected {
          height: 76px;
          padding-top: 0;

          &::before {
            left: -1px;
            top: 24px;
          }

          &::after {
            position: absolute;
            content: "";
            width: 20px;
            border-bottom: 1px solid #DCE8FF;
            bottom: -1px;
            right: -20px;
          }
        }
      }
    }
  }
}

/*sm*/
@media screen and (max-width: 576px) {
  @include showHide(sm);

  .quest-options {
    flex-wrap: wrap;
    height: 119px;
    flex-direction: column;
    justify-content: space-evenly;

    .quest-checkbox {
      width: 100%;
      padding: 0 0 0 18px;

      &--first {
      }

      &--second {
      }
    }
  }

  .quest-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    position: inherit;
    height: auto;
    padding-bottom: 63px;

    .quest-btn {
      position: relative;
      width: calc(100% - 14px);
      align-self: flex-end;

      &--back {
        right: 0;
        margin-right: -1px;

        button {
          background: #FFFFFF;
          border: 2px solid #2F54EB;

          span {
            color: #2F54EB;
          }

          .anticon {
            color: #2F54EB;

            svg {
              color: #2F54EB;

              path {
                color: #2F54EB;
              }
            }
          }

        }
      }

      &--forward {
        left: 0;
        margin-bottom: 20px;

      }
    }
  }
}

/*xs*/
@media screen and (max-width: 480px) {
  @include showHide(xs);
}

/*xxs*/
@media screen and (max-width: 375px) {
  @include showHide(xxs);

}

