h1.ant-typography, .ant-typography h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px !important;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.85);
}

.ant-checkbox-inner {
  width: 13px;
  height: 13px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #061178;
  border-color: #DBDBDB;
}