.constructor-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border: $border-blue;
}

.constructor-card {
  width: 50%;
  padding: 97px 60px;
  position: relative;

  &--first {
    border-right: $border-blue;
    padding: 97px 48px;

    .constructor-card {

      &__icon {
        svg {
          width: 29px;
          height: 29px;
          margin-left: -3px;
        }
      }

      &__name {
        margin-top: -2px;
      }

    }
  }

  &__icon {
    margin-bottom: 15px;
    margin-left: 2px;

    .anticon {
      height: 25px;
    }

    span {
      color: #103e7a;

      svg {
        color: #103e7a;
        width: 26px;
        height: 26px;
        fill: #103e7a;

        path {
          color: #103e7a;
        }
      }
    }
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: #103e7a;
    margin-bottom: 21px;
  }

  &__desc {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;

    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 28px;
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 55px;

  }


}