@import "antd.rewrite.scss";

$blue: #F0F5FF;
$roboto: 'Roboto', sans-serif;
$border: 1px solid #b4e1fa;
$border-blue: 1px solid #b4e1fa;

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  color: #070707;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: #070707;
  text-decoration: none;
  text-align: center;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: #070707;
  }

  &:active {
    text-decoration: none;
    cursor: pointer;
    color: #070707;
  }
}

ul, li {
  list-style: none;
}

.button {
  button {
    border: none;
    background: #103e7a;
    border-radius: 0;
    width: 100%;
    height: 100%;

    span {
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
    }

    .anticon {
      color: #FFFFFF;
      position: relative;
      margin-left: 25px;

      svg {
        position: absolute;
        top: -15px;
        color: #FFFFFF;

        path {
          color: #FFFFFF;
        }
      }
    }

    path {
      color: #FFFFFF;
      width: 13px;
      height: 12px;
    }
  }


  &--back-icon {
    button {
      span {
        margin-left: 12px !important;
      }

      .anticon {
        right: 32px;
        margin-left: 0;
      }
    }
  }
}

.container {
  max-width: 1166px;
  margin: 0 auto;
}

.logo {
  width: 14.84%;
  border-right: 1px solid #b4e1fa;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    margin: 0 auto;
  }

  &--footer {
    width: 66px;
    height: 16px;
    border-right: none;
    padding: 5px 0;


    img {
      margin: inherit;
    }
  }
}

.header {
  background-color: white;
  height: 107px;

  &__main {
    border: $border;
    border-top: none;
    height: 69px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .empty {
      border-right: $border;
      width: 12.77%;
      height: inherit;
    }

    .nav {
      //width: 845px;
      //min-width: 845px;
      width: 72.46%;

      .navigation {
        list-style: none;

        display: flex;
        flex-wrap: nowrap;

        justify-content: flex-end;
        width: available;
        height: 69px;
        line-height: 69px;

        &__item {
          display: block;
          width: 249px;
          min-width: 249px;
          text-align: center;
          position: relative;

          a {
            font-size: 16px;
            color: #070707;
            text-decoration: none;
            width: fit-content;
            position: relative;
            display: block;
            height: 69px;
            line-height: 69px;
            text-align: center;
            margin: 0 auto;

            &:hover {
              text-decoration: none;
              cursor: pointer;
              color: #070707;
            }

            &:active {
              text-decoration: none;
              cursor: pointer;
              color: #070707;
            }
          }

          &--active {

            a::after {
              content: "";
              position: absolute;
              display: block;
              border-bottom: 2px solid #103e7a;
              height: 2px;
              left: -26%;
              width: 150.7%;
              bottom: 0;
            }

          }

          &--has-left-border {
            border-left: $border;

          }
        }
      }
    }

    .header-right {
      width: 68%;
      height: 73px;
      display: none;
      justify-content: flex-end;
      align-items: center;
    }

    .contacts-wrap {
      height: 100%;
    }

    .contacts {
      display: flex;
      flex-wrap: nowrap;
      justify-content: right;
      justify-items: center;
      align-items: center;
      height: 100%;

      &__item {
        height: 100%;
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 73px;
        text-decoration: underline;
        min-width: 150px;

        color: #070707;

        &--border {
          border-right: $border;
          border-left: $border;
        }

        &--margin {
          margin-left: 9px;
          margin-top: 1px;
        }
      }
    }
  }
}

.preheader {
  padding: 11px 27px 10px 46px;
  height: 38px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-items: center;
  border: $border;

  &__desc {
    font-size: 14px;
    color: #103e7a;
    line-height: 18px;
  }

  &__contacts {
    margin-top: -5px;
  }

  &__track {
    display: inline-block;
    cursor: pointer;

    &-link {
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      color: #103e7a;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
        color: #103e7a;
        cursor: pointer;
      }

      &:active {
        text-decoration: underline;
        color: #103e7a;
        cursor: pointer;
      }
    }

    &-icon {
      display: inline-block;
      margin-right: 5px;
    }
  }

  &__contact {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #070707;
    text-decoration: underline;
    margin-left: 37px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #070707;
    }

    &:active {
      text-decoration: underline;
      cursor: pointer;
      color: #070707;
    }
  }
}

.track-form-wrap {
  max-width: 372px;
  width: 100%;
}

.track-result-header {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 20px;

  border-bottom: 1px solid #b4e1fa;

  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__order {
    color: black;
    font-weight: bold;
    font-size: 24px;

    max-width: 372px;
    width: 100%;
  }

  &__order-date {
    color: rgba(0, 0, 0, 0.2);
    font-size: 14px;

    max-width: 372px;
    width: 100%;
  }
}

.track-form {
  width: 100%;

  .ant-input {
    height: 55px;
  }
}

.track-button {
  height: 55px;
  margin-bottom: -35px;
}

.track-result-wrap {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-history {
  max-width: 372px;
  width: 100%;

  &-line {
    margin-bottom: 23px;

    &__title {
      font-size: 16px;
    }

    &__date {
      color: rgba(0, 0, 0, 0.2);
      font-size: 14px;
    }
  }
}

.track-result-title {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  margin-top: -30px;
}

.agreement-box {
  font-size: 11px;

  &__link {
    color: #103e7a;

    font-size: 11px;
  }
}

.order-input-wrap {
  margin-bottom: 17px;
}

.dragger-box {
  display: flex;
  justify-content: flex-start;
  padding: 5px 20px;

  &-icon {
    margin-right: 10px;
  }

  &-text {
    display: flex;
    font-size: 12px;
    line-height: 27px;
    white-space: nowrap;

    &__first {
      color: #103e7a;
      font-size: 12px;
      line-height: 27px;
      margin-right: 3px;
    }

    &__second {
      font-size: 12px;
      line-height: 27px;
    }
  }
}

.order-input-wrap-checkbox {
  margin-bottom: 0px;
}

.faq-title {
  display: flex;
  justify-content: space-between;
  padding: 25px 48px 25px 48px;
  border: 1px solid #b4e1fa;
  border-bottom: none;
  cursor: pointer;

  &__text {
    margin-right: 20px;

    &--selected {
      color: #103e7a;
    }
  }



  &__icon {

    &--active {
      svg {
        path {
          color: #103e7a;
        }
      }
    }
  }

}

.faq-info {
  padding: 25px 48px 25px 48px;
  border: 1px solid #b4e1fa;
  border-bottom: none;

  p {
    font-size: 16px;
  }

  ul {
    padding-left: 40px;
    li {
      color: rgba(0, 0, 0, 0.5);
      list-style: disc;
    }
  }

  a {
    color: #103e7a;
  }

  img {
    width: 100%;
  }
}

.footer-wrap {
  background-color: #103e7a;
  border-top: 8px solid #40a9ff;
  padding: 47px 0;
  height: 190px;
}

.track-error {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -10px;
  color: #ff4d4f;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 89px;

  &__col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;

    a:hover {
      color: #FFFFFF;
    }

    &--j-start {
      justify-content: start;
    }

    &--first {
      padding-left: 5px;
    }
  }

  &__main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 33%;
  }

  &__contacts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 38%;

    .email {
      font-weight: bold;
      font-size: 14px;
      line-height: 8px;
      text-decoration-line: underline;
      height: 16px;
      color: #FFFFFF;
      text-align: left;
      margin-bottom: 11px;
      margin-left: 1px;
    }

    .intervals {
      height: 32px;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      margin-left: 1px;
    }


  }

  .rights {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.85);
  }

  &__phone {
    height: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-align: right;
    margin-right: 9px;
    margin-top: -1px;
  }

  &__callback {
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-right: 8px;
    margin-top: 5px;
  }
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 96px;
  margin-top: -8px;

  &__item {
    height: 19px;
  }

  &__item a {
    font-family: $roboto;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: block;
    text-align: left;
  }
}

.page-header {
  height: 155px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &--sub {
    height: 87px;
    border-top: $border-blue;
    position: initial !important;

  }

  &--under {
    height: 72px;
  }

  &--under-big {
    height: 87px;
  }

  &--quiz {
    height: 155px;
  }

  &--second {
    height: 148px;
  }

  &--border-top {
    border-top: $border-blue;
  }

  h1 {
    position: absolute;
    top: 56px;
    left: 48px;
  }

  h2 {
    position: absolute;
    top: 77px;
    left: 50px;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.85);
  }
}

.burger-wrap {
  width: 45px;
  margin-left: 32px;
  margin-top: -1px;
}

.burger {
  width: 45px;
  height: 23px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: flex;

  &__line {
    width: 100%;
    height: 3px;

    background-color: #103e7a;
  }
}

.burger-menu-title {

  &__logo {
    width: 68px;
    margin-bottom: 20px;
  }

  &__desc {
    font-size: 14px;
    line-height: 16px;
    color: #103e7a;
  }

}

.burger-menu {

  .nav {
    margin-bottom: 95px;
  }

  .navigation {
    &__item {
      margin-bottom: 37px;
    }
  }

  .contacts {

    &__item {
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-decoration: underline;
      color: #070707;
      text-align: left;
      margin-bottom: 38px;
    }
  }
}

.bg-diag-line {
  background: linear-gradient(to top right, transparent calc(50% - 1px), #b4e1fa calc(50% - 1px), #b4e1fa 50%, transparent 50%);
  z-index: -1;

  &--reverse {
    background: linear-gradient(to bottom right, transparent calc(50% - 1px), #b4e1fa calc(50% - 1px), #b4e1fa 50%, transparent 50%);
  }
}

.intro {
  position: relative;

  .page-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.empty {
  border-left: $border-blue;
  height: 100%;
  width: 25%;
  z-index: -1;
  position: relative;

  &--first {
    width: 321px;
  }

  &--second {
    width: 321px;
    flex: 1;
  }

  &--third {
    width: 272px;
  }

  &--fourth {
    border-right: $border-blue;
    width: 250px;
  }

  &--border-right {
    border-right: $border-blue;
  }

  &--circle-top {
    img {
      width: 102%;
    }
  }

  &--no-border {
    border-left: none;
  }

  &--no-border-right {
    border-right: none;
  }

  &--border-white {
    border-left: $border;
  }

  &--relative {
    position: relative;
  }

  .ellipse--right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.test-aware {
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  padding-left: 5px;
  border: 1px solid #b4e1fa;
}

@import "card.scss";
@import "main.page.header.scss";
@import "constructor.cards.scss";
@import "quiz.page.header.scss";
@import "manual.scss";
@import "modal.scss";
@import "login.scss";
@import "listing.scss";
@import "adaptive.scss";