@import "../public/fonts/roboto/roboto.css";
@import "antd.rewrite.scss";

$blue: #F0F5FF;
$roboto: 'Roboto', sans-serif;
$border: 1px solid #FFFFFF;
$border-blue: 1px solid #DCE8FF;

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: $roboto;
  color: #070707;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  font-weight: normal;
  font-style: normal;
  color: #070707;
  text-decoration: none;
  text-align: center;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: #070707;
  }

  &:active {
    text-decoration: none;
    cursor: pointer;
    color: #070707;
  }
}

ul, li {
  list-style: none;
}

.container {
  max-width: 1166px;
  margin: 0 auto;
}

.logo {
  //min-width: 173px;
  width: 14.84%;
  border-right: 1px solid #FFFFFF;
  /* padding: 27px 50px 27px 40px; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    margin: 0 auto;
  }

  &--footer {
    min-width: auto;
    border-right: none;
    padding: 5px 0;
    margin-left: 15px;

    img {
      margin: inherit;
    }

  }
}

.header {
  background-color: $blue;
  height: 107px;

  &__main {
    border: $border;
    border-top: none;
    height: 69px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .empty {
      border-right: $border;
      //width: 149px;
      //min-width: 149px;
      width: 12.77%;
      height: inherit;
    }

    .nav {
      //width: 845px;
      //min-width: 845px;
      width: 72.46%;

      .navigation {
        list-style: none;

        display: flex;
        flex-wrap: nowrap;

        justify-content: flex-end;
        width: available;
        height: 69px;
        line-height: 69px;

        &__item {
          display: block;
          width: 249px;
          min-width: 249px;
          text-align: center;
          position: relative;

          a {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            color: #070707;
            text-decoration: none;
            width: fit-content;
            position: relative;
            display: block;
            height: 69px;
            line-height: 69px;
            text-align: center;
            margin: 0 auto;

            &:hover {
              text-decoration: none;
              cursor: pointer;
              color: #070707;
            }

            &:active {
              text-decoration: none;
              cursor: pointer;
              color: #070707;
            }
          }

          &--active {

            a::after {
              content: "";
              position: absolute;
              display: block;
              border-bottom: 2px solid #2F54EB;
              height: 2px;
              left: -26%;
              width: 150.7%;
              bottom: 0;
            }

          }

          &--has-left-border {
            border-left: $border;

          }
        }
      }
    }

    .header-right {
      width: 68%;
      height: 73px;
      display: none;
      justify-content: flex-end;
      align-items: center;
    }

    .contacts-wrap {
      height: 100%;
    }

    .contacts {
      display: flex;
      flex-wrap: nowrap;
      justify-content: right;
      justify-items: center;
      align-items: center;
      height: 100%;

      &__item {
        height: 100%;
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 73px;
        text-decoration: underline;
        min-width: 150px;

        color: #070707;

        &--border {
          border-right: $border;
          border-left: $border;
        }

        &--margin {
          margin-left: 9px;
          margin-top: 1px;
        }
      }
    }
  }
}

.preheader {
  padding: 11px 27px 10px 46px;
  height: 38px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-items: center;
  border: $border;

  &__desc {
    font-size: 14px;
    color: #2F54EB;
    line-height: 18px;
  }

  &__contacts {
    margin-top: -5px;
  }

  &__contact {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    font-style: normal;
    color: #070707;
    text-decoration: underline;
    margin-left: 37px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #070707;
    }

    &:active {
      text-decoration: underline;
      cursor: pointer;
      color: #070707;
    }
  }
}

.footer-wrap {
  background-color: #061178;
  border-top: 8px solid #2F54EB;
  padding: 47px 0;
  height: 190px;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 89px;

  &__col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;

    a:hover {
      color: #FFFFFF;
    }

    &--j-start {
      justify-content: start;
    }

    &--first {
      padding-left: 5px;
    }
  }

  &__main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 33%;
  }

  &__contacts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 38%;

    .email {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 8px;
      text-decoration-line: underline;
      height: 16px;
      color: #FFFFFF;
      text-align: left;
      margin-bottom: 11px;
      margin-left: 1px;
    }

    .intervals {
      height: 32px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      margin-left: 1px;
    }


  }

  .rights {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.85);
  }

  &__phone {
    height: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-align: right;
    margin-right: 9px;
    margin-top: -1px;
  }

  &__callback {
    height: 19px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-right: 8px;
    margin-top: 5px;
  }
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 96px;
  margin-top: -8px;

  &__item {
    height: 19px;
  }

  &__item a {
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: block;
    text-align: left;
  }
}

.page-header {
  height: 155px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &--sub {
    height: 87px;
    border-top: $border-blue;
    position: initial!important;

  }

  &--under {
    height: 72px;
  }

  &--under-big {
    height: 87px;
  }

  &--quiz {
    height: auto;
    min-height: 87px;
  }

  &--second {
    height: 148px;
  }

  &--border-top {
    border-top: $border-blue;
  }

  h1 {
    position: absolute;
    top: 56px;
    left: 48px;
  }

  h2 {
    position: absolute;
    top: 77px;
    left: 50px;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.85);
  }
}

.burger-wrap {
  width: 45px;
  margin-left: 32px;
  margin-top: -1px;
}

.burger {
  width: 45px;
  height: 23px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: flex;

  &__line {
    width: 100%;
    height: 3px;

    background-color: #2F54EB;
  }
}

.burger-menu-title {

  &__logo {
    width: 68px;
    margin-bottom: 20px;
  }

  &__desc {
    font-size: 14px;
    line-height: 16px;
    color: #2F54EB;
  }

}

.burger-menu {

  .nav {
    margin-bottom: 95px;
  }

  .navigation {
    &__item {
      margin-bottom: 37px;
    }
  }

  .contacts {

    &__item {
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-decoration: underline;
      color: #070707;
      text-align: left;
      margin-bottom: 38px;
    }
  }
}

.bg-diag-line {
  background: linear-gradient(to top right, transparent calc(50% - 1px), #DCE8FF, transparent calc(50% + 1px));
  z-index: -1;
  &--reverse {
    background: linear-gradient(to top left, transparent calc(50% - 1px), #DCE8FF, transparent calc(50% + 1px));
  }
}

.intro {
  position: relative;

  .page-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.empty {
  border-left: $border-blue;
  height: 100%;
  width: 25%;
  z-index: -1;

  &--first {
    width: 321px;
  }

  &--second {
    width: 321px;
    flex: 1;
  }

  &--third {
    width: 272px;
  }

  &--fourth {
    border-right: $border-blue;
    width: 250px;
  }

  &--border-right {
    border-right: $border-blue;
  }

  &--circle-top {
    img {
      width: 102%;
    }
  }

  &--no-border {
    border-left: none;
  }

  &--no-border-right {
    border-right: none;
  }

  &--border-white {
    border-left: $border;
  }

  &--relative {
    position: relative;
  }

  .ellipse--right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@import "card.scss";
@import "main.page.header.scss";
@import "constructor.cards.scss";
@import "quiz.page.header.scss";
@import "manual.scss";
@import "adaptive.scss";