.listing {
  display: flex;

  border: 1px solid #b4e1fa;
}

.listing-filters {
  width: 321px;

  border-right: 1px solid #b4e1fa;

  &-mobile {
    display: none;
  }

  &-heading {
    height: 87px;
    border-bottom: 1px solid #b4e1fa;
    width: 100%;

    margin-bottom: 42px;

    position: relative;

    &__text {
      font-size: 23px;
      font-weight: bold;
      position: absolute;
      bottom: 10px;
      left: 48px;
    }
  }

  &__body {
    width: 100%;
  }
}

.listing-items {
  width: calc(100% - 321px);

  &-heading {
    height: 87px;
    border-bottom: 1px solid #b4e1fa;
    width: 100%;

    position: relative;

    &__text {
      font-size: 23px;
      font-weight: bold;
      position: absolute;
      bottom: 10px;
      left: 75px;
    }
  }

  &-body {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 39px 49px 39px 75px;

  }
}

.listing-card {
  border: 1px solid #b4e1fa;

  width: 223px;
  height: 416px;

  margin-bottom: 25px;

  &-info {
    padding: 0 17px;
    margin-top: -25px;
  }

  &-top {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: center;

    padding: 0 10px;
    position: relative;


    &__action {
      z-index: 2;
      width: 25px;
      height: 25px;
      background: rgba(0, 0, 0, 0.2);

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 1px;

      svg path {
        color: white;
      }
    }
  }

  &__image {
    margin-bottom: 22px;

    img {
      margin: 0 auto;
      display: block;

      width: 149px;
      height: 142px;
    }
  }

  &__brand {
    font-size: 12px;
    font-weight: bold;
    color: #00000033;
  }

  &__name {
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }

  &__dimensions {
    margin-bottom: 4px;
    font-size: 12px;
    color: #00000033;
  }

  &__description {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 18px;
  }

  &-bottom {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 22px;
    font-weight: bold;
    color: #103e7a;
  }

  &__availability {
    font-size: 12px;
    color: #55B02A;
  }
}

.filter-accordion {

  &-item {
    padding: 0 0 0 45px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &__text {
      font-size: 20px;
      margin-right: 20px;
    }

    &--active {
      position: relative;
      padding: 0 0 0 42px;
      border-left: 3px solid #103e7a;

      .filter-accordion-item__text {
        color: #103e7a;
      }
    }
  }

}

.filter-variants {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;

  padding-left: 47px;

  .ant-checkbox-wrapper {
    margin-bottom: 11px;

    .ant-checkbox + span {
      padding-left: 8px;
      line-height: 22px;
    }
  }
}

.price-slider {
  padding-right: 34px;

  .ant-slider-step {
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
  }

  .ant-slider-track {
    height: 1px;
    background: #103e7a;
    border-radius: 0;
  }

  .ant-slider-handle {
    background: #103e7a;
    border: none;
    width: 11px;
    height: 11px;
  }

  .ant-slider-rail {
    background: none;
  }

  .ant-slider:hover .ant-slider-rail {
    background: none;
  }

  .ant-slider {
    margin: 10px 0 10px 4px;
  }

  &-manual {
    display: flex;

    .ant-input {
      border: 1px solid #103e7a;
      color: #103e7a;
      font-weight: bold;
      height: 35px;

      padding-left: 7px;
      font-size: 13px;
    }

    &__from {
      width: 90px;
      margin-right: 12px;
      min-width: 57px;
    }

    &__to {
      width: 100%;
      flex: 1;
      min-width: 57px;
    }
  }
}

.filters-modal {
  .ant-modal-footer {
    display: none;
  }

  .ant-modal-body {
    padding: 0 0 0 15px;

    &::before {
      width: 16px;
    }
  }

  .filters-modal-body {
    padding-left: 0;
  }

  .listing-filters-mobile {
    padding-left: 23px;
  }

  .filter-accordion {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}