.main-page-header {
  display: flex;
  height: 155px;
  padding: 50px 48px;

  &__logo {
    margin-right: 60px;
    img {
      width: 181px;
      height: 65px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.85);
    margin: 5px 0;
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}