.manual {
  display: flex;
  flex-wrap: wrap;
  border: $border-blue;
}

.categories-block {
  width: 321px;
  border-right: $border-blue;
}

.categories {
  margin: 38px 47px;
}

.categories-item {
  height: 46px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &--selected {

    &::before {
      position: absolute;
      content: "";
      display: block;
      background: #2F54EB;
      width: 3px;
      height: 25px;
      left: -49px;
      top: -2px;
    }

    .categories-item {

      &__text {
        color: #2F54EB;
      }

      &__icon {
        svg path {
          color: #2F54EB;
        }
      }
    }


  }

  &__text {
     font-style: normal;
     font-weight: 300;
     font-size: 20px;
     line-height: 20px;
     color: rgba(0, 0, 0, 0.85);
   }

  &__icon {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.85);
    margin-right: 50px;
    margin-top: -1px;
  }

  &:hover {
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      display: block;
      background: rgba(0, 0, 0, 0.4);
      width: 3px;
      height: 25px;
      left: -49px;
      top: -2px;
    }
  }
}

.char-form {
  width: 348px;
  border-right: $border-blue;
  display: flex;
  flex-direction: column;

  &__btn {

    button {
      border: none;
      width: 100%;
      height: 55px;
      background: #2F54EB;
      border-radius: 0;
      margin-right: -1px;
      position: relative;

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        right: 21px;
        position: relative;
        top: -2px;
      }

      span.anticon {
        position: absolute;
        top: 18px;
        right: 58px;
      }

      path {
        color: #FFFFFF;
        width: 13px;
        height: 12px;
      }
    }
  }
}

.spec {
  width: 494px;
  position: relative;
  height: fit-content;
  padding-bottom: 57px;

  .card-info-details {
    width: 494px;
  }


  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;

    button {
      border: none;
      width: 219px;
      height: 55px;
      background: #2F54EB;
      border-radius: 0;
      margin-right: -1px;
      position: relative;

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        right: 7px;
        position: relative;
        top: 1px;
      }

      span.anticon {
        position: absolute;
        top: 21px;
        right: 28px;
      }

      path {
        color: #FFFFFF;
        width: 13px;
        height: 12px;
      }
    }
  }
}

.char-form-lines {
  padding: 38px 0 2px 28px;

  &__item {
    margin-bottom: 29px;
    height: 55px;
  }

  &__name {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 8px;
  }

}

.char-form-variants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.char-form-variant {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 178.69%;
  color: #2F54EB;
  text-align: center;
  padding: 0 7px;
  margin-right: 19px;

  &:hover {
    border-bottom: 2px solid #2F54EB;
    font-style: normal;
    font-size: 16px;
    line-height: 178.69%;
    background-color: #f0f5ff;
    cursor: pointer;
  }

  &--selected {
    border-bottom: 2px solid #2F54EB;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 178.69%;
    color: #2F54EB;

  }
}