.manual {
  display: flex;
  flex-wrap: wrap;
  border: $border-blue;
}

.categories-block {
  width: 321px;
  border-right: $border-blue;
}

.categories {
  margin: 38px 47px;
}

.categories-item {
  min-height: 46px;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  position: relative;

  &--selected {

    &::before {
      position: absolute;
      content: "";
      display: block;
      background: #2F54EB;
      width: 3px;
      height: 25px;
      left: -49px;
      top: -2px;
    }

    .categories-item {

      &__text {
        color: #2F54EB;
      }

      &__icon {
        svg {
          path {
            color: #2F54EB;
          }
        }
      }
    }


  }

  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.85);
    width: 163px;
  }

  &__icon {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.85);
    display: block;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    span {
      display: block;
      width: 20px;
      height: 20px;
    }

    svg {
      width: 14px;
    }
  }

  &:hover {
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      display: block;
      background: rgba(0, 0, 0, 0.4);
      width: 3px;
      height: 25px;
      left: -49px;
      top: -2px;
    }
  }
}

.char-form {
  width: 348px;
  border-right: $border-blue;
  display: flex;
  flex-direction: column;

  &__btn {
    width: 100%;
    height: 55px;

    button {

      span {
        margin: 0 0 4px -41px;
      }

      .anticon {
        margin: 0 0 1px 0;
        svg {
          margin-left: 19px;
        }
      }

      path {
      }
    }
  }
}

.spec {
  width: 42.5%;
  position: relative;
  height: fit-content;
  padding-bottom: 57px;
  border-bottom: $border-blue;
  flex: 1;

  .card-info-details {
    width: 100%;
  }


  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 219px;
    height: 55px;

    button {

      span {
      }

      .anticon {
      }

      path {
      }
    }
  }
}

.char-form-lines {
  padding: 38px 0 2px 28px;

  &__item {
    margin-bottom: 29px;
    min-height: 55px;
    height: auto;
  }

  &__name {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 8px;
  }

}

.char-form-variants {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.char-form-variant {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 178.69%;
  color: #2F54EB;
  text-align: center;
  padding: 0 7px;
  margin-right: 19px;

  &:hover {
    border-bottom: 2px solid #2F54EB;
    font-style: normal;
    font-size: 16px;
    line-height: 178.69%;
    background-color: #f0f5ff;
    cursor: pointer;
  }

  &--selected {
    border-bottom: 2px solid #2F54EB;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 178.69%;
    color: #2F54EB;
  }
}