.quiz-page-header {
  position: absolute;
  display: flex;
  top: 48px;
  left: 48px;
  height: 67px;
  width: 75%;


  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    top: -9px;
    left: 0px;
  }
}

.quiz-page-status {
  position: absolute;
  right: 15px;
  bottom: 17px;
  font-size: 16px;
  color: #103e7a;
}


.quiz-question {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.85);
  top: 48px;
  left: 0;
  position: relative;
  height: fit-content;
}

.quest__empty {
  height: 95px;
  border-bottom: $border-blue;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    display: block;
    border-right: $border-blue;
    width: 321px;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.quiz-answers {
  width: 100%;
  padding: 31px 50px 21px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    display: block;
    border-right: $border-blue;
    width: 321px;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.quiz {
  border: $border-blue;
}

.quest {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  border-top: $border-blue;
  margin-bottom: -55px;
  min-height: 290px;

  &__first {
    border-right: $border-blue;
    width: 646px;
  }

  &__second {
    width: 522px;
    padding: 32px 51px 186px;
  }
}

.quest-options {

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: relative;
  min-height: 95px;
  border-bottom: $border-blue;

  &--num {
    min-height: 125px;
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    border-right: $border-blue;
    width: 321px;
    height: 100%;
    top: 0;
    left: 0;
  }

  .ant-input {
    font-size: 16px;
    line-height: 16px;
    color: #070707;
    text-align: left;
    width: 307px;
    height: 55px;
    margin-left: 48px;
    border: 1px solid #103e7a;
    box-sizing: border-box;
    border-radius: 1px;

    &:focus::placeholder {
      color: transparent;
    }
  }

  .ant-radio-group {
    width: 100%;
  }

  .ant-radio-wrapper {
    width: 50%;
    padding: 0  0 0 88px;
    margin: 20px 0;

    &:nth-child(2n) {
      padding: 0 0 0 103px;
    }
  }

  .ant-checkbox-group {
    width: 100%;
    margin-left: 48px;
    margin-top: 10px;
  }
}

.quest-checkbox {
  width: 50%;
  padding: 0  0 0 88px;

  &--second {
    padding: 0 0 0 103px;
  }

  .ant-checkbox-wrapper {
    .ant-checkbox {
      margin: 2px 0 0 -1px;

      .ant-checkbox-input {
        width: 22px;
        height: 22px;
      }

      .ant-checkbox-inner {
        width: 22px;
        height: 22px;

        &::after {
          height: 14px;
          width: 8px;
        }
      }

      &::after {
        height: 22px;
        width: 22px;
      }
    }

    span {
      font-size: 20px;
      color: #103e7a;
    }
  }
}

.ant-input:placeholder-shown {
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.2);
  height: 55px;
  text-align: left;
  margin-top: -3px;
}

.quest-buttons {
  width: 100%;
  height: 55px;
  position: relative;
}

.quest-btn {
  position: absolute;

  width: 219px;
  height: 55px;

  &--back {
    left: -1px;
    bottom: 0;
  }

  &--forward {
    right: -1px;
    bottom: 0;

    button .anticon svg {
      right: -26px;
    }
  }
}

.quest-desc {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;

  color: rgba(0, 0, 0, 0.85);
}